target/
!.mvn/wrapper/maven-wrapper.jar
/help.md
.mvn/
.gradle/
build/
bin/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
HELP.md
out/
log/
tmp/
*.log
.DS_Store
Thumbs.db
